*.db-shm
*.db-wal
*.db
*.pid
*.dat
cache
log
logs*
MediaCover
Backups
**backup
releases.txt
analytics_visitor_id.txt
announcements.json
Sentry
asp
db
**.sqlite
**/plex/Library/**
config/recyclarr/secrets.env
config/recyclarr/cache/
config/recyclarr/logs/
config/recyclarr/configs/
config/recyclarr/includes/
config/recyclarr/settings.yml
